<section class="container my-5 d-flex justify-content-lg-center align-items-center">
    <div class="text-center">
        <i class="fa-solid fa-triangle-exclamation h1 mt-2 display-1 text-danger"></i>
        <h1 class="display-1 ">Confirmation</h1>
        <p class="text-muted">Are you sure you want to logout?</p>
        <form method="post" action="/auth/logout">
            <button type="submit" class="btn btn-lg px-4 text-white bg-primary">Yes</button>
        <form>
    </div>
</section>