<section class="container-fluid container my-5 h-80 d-flex flex-column justify-content-center align-items-center">
  <section class="vw-90 text-center">
    <h2>#continue</h2>
    <p>Login to continue</p>
  </section>

  <%- include('../partials/notification.ejs') %>

  <section id="form-details" class="border container p-5 w-50">
    <form action="/auth/login" method="post">
      <div class="text-center">
        <span>Sign In</span>
        <h2>Welcome back!</h2>
      </div>

      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
        name="username"
        placeholder="user@example.edu.ng" required>
      </div>

      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input type="password" class="form-control"
        name="password"
        minlength="6"
        placeholder="Password (minimum 6 characters)" required>
      </div>

      <div class="d-grid text-center">
        <button type="submit" class="btn btn-primary mt-2">Sign In</button>
      </div>
    </form>

    <p class="mt-2 text-end">
      Don't have an account?
      <a href="/auth/signup/select-role">Sign Up</a>
    </p>
  </section>
</section>
