<footer class="container-fluid bg-dark text-white-50 mt-5 pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="text-white">SIWES Tracker</h5>
                <p>Streamlining industrial training management for students, institutions, and ITF.</p>
            </div>
            
            <div class="col-md-4 mb-4">
                <h5 class="text-white">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/faq" class="text-decoration-none text-white-50">FAQ</a></li>
                    <li><a href="/contact" class="text-decoration-none text-white-50">Contact Us</a></li>
                    <li><a href="/terms" class="text-decoration-none text-white-50">Terms</a></li>
                    <li><a href="/privacy" class="text-decoration-none text-white-50">Privacy</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-4">
                <h5 class="text-white">Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-envelope me-2"></i>support@siwestracker.ng</li>
                    <li><i class="bi bi-telephone me-2"></i>+234 800 555 5555</li>
                    <li class="mt-3">
                        <a href="#" class="text-white-50 me-3"><i class="bi bi-twitter fs-5"></i></a>
                        <a href="#" class="text-white-50 me-3"><i class="bi bi-facebook fs-5"></i></a>
                        <a href="#" class="text-white-50"><i class="bi bi-linkedin fs-5"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="border-top pt-3 text-center">
            <p class="mb-0">&copy; 2025 SIWES Tracker. All rights reserved.</p>
            <p class="text-white">An ITF-affiliated platform</p>
        </div>
    </div>
</footer>
