<footer class="container border-top pt-2">
    <div class="row">
        <div class="col">
            <!-- <img src="/images/footwear_new.png" alt=""> -->
            <h4>Contact</h4>
            <p><strong>Address:</strong> 216 Forest Drive,Aberdeen,Scotland,United Kingdom.AB13 7HY.</p>
            <p><strong>Phone:</strong> +4473562898</p>
            <p><strong>Email:</strong> footwear@gmail.com</p>
            <p><strong>Hours:</strong> 10:00 - 18:00. Mon - Sat</p>
            
        </div>
        <div class="col">
            <h4>About us</h4>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <a href=""><i class="fa-brands fa-square-facebook fs-4 mb-2"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter fs-4 mb-2"></i></i></a>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Quick Links</h4>
            <a href="/shop">Shop</a>
            <a href="/shop/cart">View Cart</a>
            <h4>My Account</h4>
            <% if (user) { %>
                <a href="/dashboard">Dashboard</a>
            <% } else { %>
                <a href="/auth/signin">Sign In</a>
                <a href="/auth/signup">Sign Up</a>
            <% } %>
        </div>
        <div class="col">
            <h4>Newsletter</h4>
            <p>Subscribe to our newsletter and get 10% off your first purchase</p>
            <input class="form-control mb-1" type="email" placeholder="Enter your email">
            <button class="btn btn-outline-dark btn-sm">Subscribe</button>
            <p>Secured Payment Gateways</p>
            <!-- <img src="/images/payment.png" alt=""> -->
        </div>
    </div>

    <div class="text-center  m-3">
        <p class="text-muted">&copy; 2024 FOOTWEAR HUNTER. All Rights Reserved.</p>
    </div>
  </footer>

  <script>
    const navLink = document.querySelectorAll('.nav-link');
    navLink.forEach(link => {
        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });
  </script>
  <!-- <script src="/js/script.js"></script> -->
