<div class="text-center">
    <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
          <strong><%= message.message %></strong>
        </div>
      <% } %>
</div>